body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6714 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6716 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:130px;
  width:360px;
  height:456px;
}
#u6716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6718 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:130px;
  width:360px;
  height:120px;
}
#u6718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6719 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:148px;
  width:44px;
  height:44px;
}
#u6719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6720 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:148px;
  width:74px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6720_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6721 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:175px;
  width:37px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u6722 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:214px;
  width:24px;
  height:18px;
}
#u6722_img.mouseOver {
}
#u6722.mouseOver {
}
#u6722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6723 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:214px;
  width:22px;
  height:20px;
}
#u6723_img.mouseOver {
}
#u6723.mouseOver {
}
#u6723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6724 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:269px;
  width:101px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
.u6726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u6726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:72px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u6726_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
.u6726.selected {
}
.u6726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
.u6727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
.u6727 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  height:40px;
}
.u6727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6725-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:64px;
}
#u6725-2 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:0px;
  width:72px;
  height:64px;
}
#u6725-3 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:0px;
  width:72px;
  height:64px;
}
#u6725-4 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:0px;
  width:72px;
  height:64px;
}
#u6725-5 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:0px;
  width:72px;
  height:64px;
}
#u6725-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:72px;
  height:64px;
}
#u6725-7 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:74px;
  width:72px;
  height:64px;
}
#u6725-8 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:74px;
  width:72px;
  height:64px;
}
#u6725-9 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:74px;
  width:72px;
  height:64px;
}
#u6725-10 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:74px;
  width:72px;
  height:64px;
}
#u6725-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:72px;
  height:64px;
}
#u6725-12 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:148px;
  width:72px;
  height:64px;
}
#u6725-13 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:148px;
  width:72px;
  height:64px;
}
#u6725-14 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:148px;
  width:72px;
  height:64px;
}
#u6725-15 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:148px;
  width:72px;
  height:64px;
}
#u6725 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:299px;
  width:360px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6728 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:530px;
  width:328px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6728_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u6729 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:269px;
  width:99px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u6729_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u6729.mouseOver {
}
#u6729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  word-wrap:break-word;
}
#u6730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6730 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:299px;
  width:72px;
  height:62px;
}
#u6730_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6731 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:299px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
  color:#CCCCCC;
}
#u6731_img.mouseOver {
}
#u6731.mouseOver {
}
#u6731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:36px;
  word-wrap:break-word;
}
#u6732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6732 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:150px;
  width:280px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6732_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:268px;
  white-space:nowrap;
}
#u6733 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:190px;
  width:0px;
  height:0px;
}
#u6733_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u6733_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-23px;
  width:8px;
  height:27px;
}
#u6733_seg2 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-23px;
  width:47px;
  height:8px;
}
#u6733_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6733_seg4 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-28px;
  width:18px;
  height:18px;
}
#u6733_text {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6734 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:337px;
  width:284px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6734_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:272px;
  white-space:nowrap;
}
#u6735 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:358px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6735_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u6735_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6735_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6735_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6736 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:63px;
  width:753px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6736_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:741px;
  white-space:nowrap;
}
#u6737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:12px;
}
#u6737 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:203px;
  width:326px;
  height:42px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:12px;
}
#u6737_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:314px;
  white-space:nowrap;
}
#u6738 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:224px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6738_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:381px;
  height:8px;
}
#u6738_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6738_seg2 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6738_text {
  border-width:0px;
  position:absolute;
  left:138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6739 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:666px;
  width:275px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u6740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6741 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:696px;
  width:360px;
  height:456px;
}
#u6741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6743 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:696px;
  width:360px;
  height:48px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  word-wrap:break-word;
}
#u6744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u6744 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:713px;
  width:8px;
  height:14px;
}
#u6744_img.mouseOver {
}
#u6744.mouseOver {
}
#u6744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6745 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:771px;
  width:360px;
  height:381px;
  overflow:hidden;
}
#u6745_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:381px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u6745_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u6747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6747_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6747.selected {
}
.u6747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6748 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:120px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6748_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6748.selected {
}
.u6748_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
.u6749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
.u6749 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:20px;
  height:20px;
}
.u6749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u6750_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6750 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:125px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6750_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.u6750.selected {
}
.u6750_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u6746-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:32px;
}
#u6746-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:360px;
  height:32px;
}
#u6746-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:360px;
  height:32px;
}
#u6746-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:96px;
  width:360px;
  height:32px;
}
#u6746-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:128px;
  width:360px;
  height:32px;
}
#u6746-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:360px;
  height:32px;
}
#u6746-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:360px;
  height:32px;
}
#u6746-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:360px;
  height:32px;
}
#u6746-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:360px;
  height:32px;
}
#u6746-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:288px;
  width:360px;
  height:32px;
}
#u6746-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:360px;
  height:32px;
}
#u6746-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:360px;
  height:32px;
}
#u6746-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:384px;
  width:360px;
  height:32px;
}
#u6746-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:416px;
  width:360px;
  height:32px;
}
#u6746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:448px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u6751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6751 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:744px;
  width:154px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:152px;
  word-wrap:break-word;
}
#u6752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6752 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:744px;
  width:174px;
  height:27px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u6752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:172px;
  word-wrap:break-word;
}
#u6753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6753 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:894px;
  width:194px;
  height:59px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6753_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:182px;
  white-space:nowrap;
}
#u6754 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:924px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6754_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u6754_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6754_seg2 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6754_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6755 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:535px;
  width:218px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6755_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:206px;
  white-space:nowrap;
}
#u6756 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:548px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6756_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u6756_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6756_seg2 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6756_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6757 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:269px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6757_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u6757_seg1 {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:-18px;
  width:369px;
  height:8px;
}
#u6757_seg2 {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:-18px;
  width:8px;
  height:677px;
}
#u6757_seg3 {
  border-width:0px;
  position:absolute;
  left:-365px;
  top:651px;
  width:54px;
  height:8px;
}
#u6757_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u6757_seg5 {
  border-width:0px;
  position:absolute;
  left:-323px;
  top:646px;
  width:18px;
  height:18px;
}
#u6757_text {
  border-width:0px;
  position:absolute;
  left:-411px;
  top:150px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6758 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:720px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6758_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:8px;
  height:8px;
}
#u6758_seg1 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-8px;
  width:59px;
  height:8px;
}
#u6758_seg2 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-98px;
  width:8px;
  height:98px;
}
#u6758_seg3 {
  border-width:0px;
  position:absolute;
  left:-55px;
  top:-98px;
  width:223px;
  height:8px;
}
#u6758_seg4 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-134px;
  width:8px;
  height:44px;
}
#u6758_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u6758_seg6 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:-140px;
  width:18px;
  height:18px;
}
#u6758_text {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:-103px;
  width:100px;
  word-wrap:break-word;
}
#u6759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6759 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:205px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6759_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6761 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:235px;
  width:360px;
  height:456px;
}
#u6761_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6763 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:235px;
  width:360px;
  height:120px;
}
#u6763_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:253px;
  width:44px;
  height:44px;
}
#u6764_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:253px;
  width:74px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6765_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:280px;
  width:37px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:319px;
  width:24px;
  height:18px;
}
#u6767_img.mouseOver {
}
#u6767.mouseOver {
}
#u6767_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:319px;
  width:22px;
  height:20px;
}
#u6768_img.mouseOver {
}
#u6768.mouseOver {
}
#u6768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:635px;
  width:328px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6769_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:1207px;
  top:460px;
  width:22px;
  height:22px;
}
#u6771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:9px;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:463px;
  width:4px;
  height:9px;
}
#u6772_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
  text-align:center;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:489px;
  width:55px;
  height:22px;
  font-size:13px;
  color:#999999;
  text-align:center;
}
#u6773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u6774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:719px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6775 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:456px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6776 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:749px;
  width:360px;
  height:456px;
}
#u6776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:120px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:749px;
  width:360px;
  height:120px;
}
#u6778_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:767px;
  width:44px;
  height:44px;
}
#u6779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:767px;
  width:74px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u6781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:794px;
  width:37px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u6781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:1090px;
  top:833px;
  width:24px;
  height:18px;
}
#u6782_img.mouseOver {
}
#u6782.mouseOver {
}
#u6782_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:833px;
  width:22px;
  height:20px;
}
#u6783_img.mouseOver {
}
#u6783.mouseOver {
}
#u6783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:1149px;
  width:328px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6784_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u6785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  text-align:center;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:1157px;
  top:1018px;
  width:122px;
  height:22px;
  font-size:13px;
  text-align:center;
}
#u6785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u6786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:1168px;
  top:948px;
  width:100px;
  height:60px;
}
#u6786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:110px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6787_seg0 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-4px;
  width:79px;
  height:8px;
}
#u6787_seg1 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-4px;
  width:8px;
  height:574px;
}
#u6787_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:562px;
  width:79px;
  height:8px;
}
#u6787_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6787_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:557px;
  width:18px;
  height:18px;
}
#u6787_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:275px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:100px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6788_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-76px;
  width:8px;
  height:76px;
}
#u6788_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-76px;
  width:1197px;
  height:8px;
}
#u6788_seg2 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:-76px;
  width:8px;
  height:195px;
}
#u6788_seg3 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:111px;
  width:199px;
  height:8px;
}
#u6788_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-10px;
  width:18px;
  height:18px;
}
#u6788_seg5 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:106px;
  width:18px;
  height:18px;
}
#u6788_text {
  border-width:0px;
  position:absolute;
  left:700px;
  top:-80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:1038px;
  top:215px;
  width:0px;
  height:0px;
  color:#FFFFFF;
}
#u6789_seg0 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-4px;
  width:48px;
  height:8px;
}
#u6789_seg1 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-4px;
  width:8px;
  height:522px;
}
#u6789_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:510px;
  width:48px;
  height:8px;
}
#u6789_seg3 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-9px;
  width:18px;
  height:18px;
}
#u6789_seg4 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:505px;
  width:18px;
  height:18px;
}
#u6789_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:249px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
